*.ipynb
*.pyc
~$*.xlsx
~$*.xlsm
**parse_table_datacmds.py
.idea
.DS_Store
gurobi.log
inputs/
outputs/
inputs_*/
outputs_*/
runfile*.txt
completed_scenarios*.txt
scenarios_to_run*.txt
progress*.txt
Fuel Costs Monte Carlo-3.xlsx

# folders cloned from other repositories
switch/
switch-hawaii-core/
